# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
simulide-master/build_XX/release/SimulIDE_0.3.11/bin/in2.json
simulide-master/build_XX/release/SimulIDE_0.3.11/bin/out.json
simulide-master/build_XX/release/SimulIDE_0.3.11/bin/simulide